@import url("https://fonts.googleapis.com/css?family=Lato|Noto+Serif&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
}

a {
  text-decoration: none;
  color: #e1e1e1;
}

h1 {
  font-family: "Noto Serif", serif;
}

h3 {
  font-family: "Lato", sans-serif;
}
